
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
<link href="https://cdn.jsdelivr.xyz/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">    <title>Index</title>
</head>
<body>
    <h1 class="alert alert-success">Welcome to Intern2Go</h1>
    <div>
        <div>
            <a asp-action="signup" class="btn btn-outline-primary" > Create a new account </a>
        </div>
        <div>
            <a asp-action="login" class="btn btn-outline-secondary"> Already have an account </a>
        </div>
    </div>
</body>
</html>
