@model Intern2GrowTask2.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
     <link href="https://cdn.jsdelivr.xyz/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>login</title>
</head>
<body>
        <h1 class="alert alert-success">Welcome to Intern2Go</h1>

        <form action="login" method="post">
                <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" name="username" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
                </div>      


                 <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" name="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <input type="submit" class="btn btn-outline-success" />
            </form>

                <a asp-action="index" class="btn btn-outline-danger" > Back</a>

</body>
</html>
